{% extends "base.html" %}
{% load custom_markdown %}

{% block main %}
	<main class="col-md-8">
		<article class="post post-1">
			<header class="entry-header">
				<h1 class="entry-title">{{ article.title }}</h1>
				<div class="entry-meta">
					<span class="post-category"><a href="{% url 'category' cate=article.category %}">{{ article.category }}</a></span>

					<span class=""><a href="#">{{ article.date }}</a></span>
				</div>
			</header>
			<div class="entry-content clearfix">
				<p>{{ article.content|custom_markdown }}</p>
			</div>
			<hr>
			<div>
				<span>Tags: </span>
				{% for tag in article.tag.all %}
					<span><a href="{% url 'tag' tag=tag %}">{{ tag }}</a></span>
				{% endfor %}
			</div>
			<hr>
		</article>

		{% include "comment.html" %}
	</main>
{% endblock %}

{% block aside %}
	{% include "aside.html" %}
{% endblock %}