{% extends "base.html"%}

{% block main %}
	<main class="col-md-12">
		<h1 class="page-title">About Me</h1>
		<article class="post">
			<div class="entry-content clearfix">
				<figure class="img-responsive-center">
					<img class="img-responsive" src="/static/img/me.jpg" alt="Developer Image">
				</figure>
				<p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and flow of things. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly.</p>
				<p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and flow of things. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly.</p>
				<div class="height-40px"></div>
				<h2 class="title text-center">Social</h2>
				<ul class="social social-index">
					<li class="facebook"><a href="https://www.facebook.com/ruter.lv"><span class="ion-social-facebook"></span></a></li>
					<li class="linkedin"><a href="#"><span class="ion-social-linkedin"></span></a></li>
					<li class="github"><a href="https://github.com/ruter"><span class="ion-social-github"></span></a></li>
					<li class="steam"><a href="http://steamcommunity.com/id/ruterxruter/"><span class="ion-steam"></span></a></li>
				</ul>
			</div>
		</article>
	</main>
{% endblock %}
