{% extends "base.html" %}

{% block main %}
	<main class="col-md-8">
		{% for article in article_list %}
			{% include "preview.html" %}
		{% endfor %}

		<div>
			<ul class="pager">
				{% if article_list.has_previous %}
					<li class="previous"><a href="?page={{ article_list.previous_page_number }}">Pre</a></li>
				{% else %}
					<li class="previous disabled"><a href="#">Pre</a></li>
				{% endif %}

				{% if article_list.has_next %}
					<li class="next"><a href="?page={{ article_list.next_page_number }}">Next</a></li>
				{% else %}
					<li class="next disabled"><a href="#">Next</a></li>
				{% endif %}
			</ul>
		</div>
	</main>
{% endblock %}

{% block aside %}
	{% include "aside.html" %}
{% endblock %}
